<ul class="stack-1">

    {% for post in range(1, 2)|reverse %}
        <div class="text-s{{ post }}">Font Size Small {{ post }}: Lorem ipsum dolor sit amet, consectetur adipisicing elit.</div>
    {% endfor %}

    <div>Font size 0: Lorem ipsum dolor sit amet, consectetur adipisicing elit.</div>

    {% for post in range(1, 6) %}
        <div class="text-{{ post }}">Font Size {{ post }}: Lorem ipsum dolor sit amet, consectetur adipisicing elit.</div>
    {% endfor %}

</ul>