<section class="teaser-list">
    <header class="teaser-list__header mb-3">
        <div class="pipelist">
            <h2 class="teaser-list__title tag text-0 navy">{{ post.title }}</h2>
            <a class="tag text-s2 orange" href="">See All</a>
        </div>
    </header>
    <div class="teaser-list__body grid">
        {% block teasers %}
            {% for post in post.list %}
                <div class="col-50">
                    {% include "components-teaser" %}
                </div>
            {% endfor %}
        {% endblock %}
    </div>
</section>
