<fieldset>
    <legend>Select some checkboxes:</legend>
    <input type="checkbox" class="checkbox" id="check_1" value="check_1" name="checkboxes" checked="checked">
    <label for="check_1">Option 1</label>
    <input type="checkbox" class="checkbox" id="check_2" value="check_2" name="checkboxes">
    <label for="check_2">Option 2</label>
</fieldset>