<fieldset>
    <legend>Select a radio button:</legend>
    <input type="radio" class="radio" id="option_1" value="option_1" name=" options" checked="checked">
    <label for="option_1">Option 1</label>
    <input type="radio" class="radio" id="option_2" value="option_2" name=" options">
    <label for="option_2">Option 2</label>
</fieldset>