{% extends "components-teaser-list" %}


{% block teasers %}
    {% for post in post.list %}
        <div class="col-50">
            {% include "components-card" %}
        </div>
    {% endfor %}
{% endblock %}