<nav id="footer-nav-1" role="navigation" aria-label="footer menu 1" class="footer-nav-1">
    <ul>
        {% for post in footernav1 %}
            {% if post.title != null %}
                <li>
                    <a href="/">{{ post.title|raw }}</a>
                    {% if post.submenu %}
                        <ul>
                            {% for post2 in post.submenu %}
                                <li >
                                    <a href="/">{{ post2.title|raw }}</a>
                                </li>
                            {% endfor %}
                        </ul>
                    {% endif %}
                </li>
            {% endif %}
        {% endfor %} 
    </ul>
</nav><!--/.footernav1-->