{% extends "templates-site" %}
{% block top %}{% endblock %}
{% block content %}

    <main role="main">

        {% include "components-hero" %}

        <div class="frame bg-gray">
            <div class="frame__inside">
                {% include "components-teaser-list" with { post : webinars } %}
            </div><!--/.frame__inside-->
        </div><!--/.frame__inside-->

        <div class="frame bg-gray">
            <div class="frame__inside">
                {% include "components-teaser-list-cards" with { post : expertposts } %}
            </div><!--/.frame__inside-->
        </div><!--/.frame__inside-->

    </main>

{% endblock %}

{% block bottom %}{% endblock %}
