{% include "components-header" %}

<div id="main">
    {% block top %}
        <div>Top Area Placeholder</div>
    {% endblock %}

    {% block content %}
        <div>Main Content Placeholder</div>
    {% endblock %}

    {% block bottom %}
        <div>Bottom Area Placeholder</div>
    {% endblock %}
</div>

{% include "components-footer" %}
