<form>
    <label for="plab-text">Text Input
        <input type="text" placeholder="Jane Doe" id="plab-text" aria-describedby="textHelpText">
    </label>
    <p class="help-text" id="textHelpText">First and Last name</p>

    <label for="plab-password">Password
        <input type="password" placeholder="sw0rdfi5h" id="plab-password" aria-describedby="passwordHelpText">
    </label>
    <p class="help-text" id="passwordHelpText">Your password must have at least 10 characters, a number, and an Emoji.</p>

    <label for="plab-url">Web Address
        <input type="url" placeholder="http://yoursite.com" id="plab-url">
    </label>

    <label for="plab-email">Email
        <input type="email" placeholder="name@email.com" id="plab-email">
    </label>

    <label for="plab-search">Search
        <input type="search" placeholder="Enter Search Term" id="plab-search">
    </label>

    <label for="plab-number">Number Input
        <input type="number" placeholder="Enter a Number" id="plab-number" pattern="[0-9]*">
    </label>

    <label for="plab-textarea">
      Textarea
      <textarea placeholder="Enter your message here" id="plab-textarea"></textarea>
    </label>

</form>
