<footer class="footer" role="contentinfo">
    <div class="frame2 bg-navy">
        <div class="frame2__inside">

            {% include 'components-footer-nav' %}

            <div class="footer__info">
                <div class="logo">
                    <a href="/">
                        <img src="../../../../img/aspcapro.svg" alt="ASPCApro" />
                    </a>
                </div>

                {% include "components-footer-social" %}
            </div>

        </div><!--/.frame__inside-->
    </div><!--/.frame-->
</footer><!--/.footer-->