// breadcrumbs

.breadcrumbs {
  text-transform: uppercase;
  color: tomato;
  padding: 0 40px;

  & a {
    color: goldenrod;
  }

  ul {
    list-style: none;
    padding-left: 0;
    margin: 0;

    li {
      display: inline-block;
      position: relative;
    }
  }

  & li:not(:last-child):after,
  & li:first-child:after {
    content: " / ";
    font-size: 1.75rem;
    position: relative;
    bottom: -.15em;
    font-weight: 400;
  }
}
