// forms


$placeholder-default: $navy;

@mixin u-defaultInput {
    -webkit-appearance: none;
    line-height: 1.25;
    color: $text;
    background: $white;
    border-radius: 0;
    padding: 8px 10px 6px;
    height: 42px; // need to put height here for firefox
    box-shadow: none;
    border: 1px solid $gray;
    transition: background $animation, border $animation, box-shadow $animation;

    &:focus {
        outline: none;
        //background: #fff;
        border-color: $blue;
        color: $text;
    }

    &::-webkit-input-placeholder {  color: $placeholder-default; opacity: 1; }
    &:-moz-placeholder {            color: $placeholder-default; opacity: 1;  }
    &::-moz-placeholder {           color: $placeholder-default; opacity: 1;  }
    &:-ms-input-placeholder {       color: $placeholder-default; opacity: 1;  }
}

// default label style
label,
legend {
    //@include label;
    display: block;
    margin: 0 0 2px;
}

.help-text {
  //@include text-sm;
  margin-top: 1px;
  margin-bottom: 0;
}

// default input styles
input,
textarea,
select {
    @include u-defaultInput;
    width: 100%;
}

input[type="file"],
textarea,
select[multiple] {
  height: auto;
}

$submit-color: tomato;

input[type="submit"] {
  border-color: $submit-color;
  width: auto;
  transition: border $animation, background $animation;

  &:hover,
  &:focus {
    border-color: lighten($submit-color, 5%);
  }
}

button {
  border: none;
}

.input-s {
  height: 35px;
  @include type-s(2)
  padding: $space-s1 $space-0 $space-s1;
}


.inline-input {
  label,
  input,
  select {
    display: inline-block;
    width: auto;
    vertical-align: top;
  }

  label {
    margin-right: $space-1;
  }
}

select {
    background-image: svg-background($orange-down);
    background-repeat: no-repeat;
    background-position: calc(100% - 3px) center;
    background-size: 20px 10px;
    -webkit-appearance: none;
    -moz-appearance: none;
    border-radius: 0;
    padding-right: 26px;
    transition: none;

    // a hack to get at ie9
    .no-flexbox & {
      background-image: none;
      padding-right: 0.6rem;
    }
}

// Hide select arrow in IE 10+
select::-ms-expand {
    display: none;
}


select[multiple]{
  background: none;
  padding-right: 10px;
}

.search-input {
  position: relative;

  button {
    position: absolute;
    top: $space-s2;
    right: 0;
    transition: top .5s ease;

    path {
      transition: fill $animation;
    }

    &:hover,
    &:focus {
      cursor: pointer;

      path {
        fill: $blue;
      }
    }
  }
}


// Option Input Style
// -------------------------
// Adds some base custom styles to radio buttons and checkboxes.
// In order to specify shape, border radius is applied
// in class name for the element.

$option-color: tomato; 

@mixin option-input-style {
  &:before {
    content: "";
    display: inline-block;
    width: 1rem;
    height: 1rem;
    margin-right: .375rem;
    position: relative;
    bottom: -1px;
    background-color: $white;
    border: 1px solid $gray;
  }
}

.radio,
.checkbox {
  @include visuallyhidden;

  + label {
    cursor: pointer;
    font-size: 18px;
    line-height: 1;
    font-weight: normal;
    margin-top: 10px;
    display: block;
    @include option-input-style;
  }

  &:disabled + label {
    opacity: .35;
  }
}

// hide system radio button in order to use custom style
.radio {
  + label:before { border-radius: 50% ; }
}

.radio:checked + label:before {
  background-color: $white;
  border: 6px solid $option-color;
}

// hide system checkbox in order to use custom style
.checkbox {
  + label:before { border-radius: 17% ; }
}

.checkbox:checked + label:before {
  background-image: svg-background($checkmark);
  background-repeat: no-repeat;
  background-position: center;
  background-color: $option-color;
  background-size: .6rem;
  border-style: none;
}