$link: goldenrod;

a {
    color: $link;
    text-decoration: none;
    transition: color $animation-fade;

    &:hover,
    &:focus {
        color: darken($link, 10%);

        path {
            fill: darken($link, 10%);
        }
    }

    path {
        transition: fill $animation-fade;
    }
}

::selection {
    background: rgba(255, 210, 41, .4);
}