/////////////////////////////////////-+++-
// Lists - stacks
//


$list-steps: 6;


[class^='list-'], 
[class*=' list-'],
[class^='stack-'], 
[class*=' stack-'] {
  list-style: none;
  margin: 0;
  padding: 0;
  width: 100%;
}


// Stacks are vertical lists

@for $i from 0 through $list-steps {
  .stack-#{$i} {
  
    > li:not(:last-child),
    > div:not(:last-child) {
        margin-bottom: $ms-space-px * $i;
    }
  }
}


// Lists are horizontal or inline lists

[class^='list-'], 
[class*=' list-'] {

  & > div,
  & > li {
    display: inline-block;
    vertical-align: top;
  }
}

@for $i from 0 through $list-steps {
  .list-#{$i} {
  
    > li:not(:last-child),
    > div:not(:last-child) {
        margin-right: $ms-space-px * $i;
    }
  }
}


.pipelist {
    & > h2,
    & > a,
    & > div {
        display: inline-block;
        vertical-align: middle;

        &:not(:last-child) {
            margin-right: $space-1 + $space-s1;

            &:after {
                content: '';
                width: 2px;
                height: 28px;
                background: $gray;
                display: inline-block;
                vertical-align: top;
                margin-left: $space-2;
            }
        }
    }
}

.pipelist-s {
    & > a,
    & > div {
        display: inline-block;
        vertical-align: middle;

        &:not(:last-child) {
            margin-right: $space-0 + $space-s1;

            &:after {
                content: '';
                width: 2px;
                height: 28px;
                background: $gray-dark;
                display: inline-block;
                vertical-align: middle;
                margin-left: $space-1;
            }
        }
    }
}

// .brandlist {
//   list-style: none;
//   margin: 0;
//   padding: 0;
//   > li {
//     position: relative;
//     padding-left: $space-1;

//     &:before {
//       content: '';
//       position: absolute;
//       top: 50%;
//       left: 0;
//       width: 6px;
//       height: 6px;
//       border-radius: 50%;
//       background: $orange;
//       transform: translatey(-50%);
//     }

//     &:not(:last-child) {
//       margin-bottom: $space-0;
//     }
//   }
// }

