//
// Table Styles
// --------------------------------------------------

table {
  border-collapse: separate;
  border-spacing: 0;
  max-width: 100%;
  width: 100%;
  background: $gray;
  border: none;
  //@include text-sm;

  td,
  th {
    padding: 0.75rem 1rem;
  }

  th {
    text-align: left;
    font-weight: 800;
    vertical-align: bottom;
    background: darken($gray, 5%);
  }

  td {
    vertical-align: middle;
  }
}


tr td            { border-bottom: 1px solid darken($gray, 10%); }
tr:last-child td { border-bottom: 0; }

