<div class="newsletter">
    <form class="form">
        <label class="text-s2" for="main-newsletter-name" class="">
            Get weekly updates about webinars, grants & resources
        </label>
        <div class="newsletter__inputs">
            <input class="input-s mb-0" type="text" id="main-newsletter-name" placeholder="Name" />
            <input class="input-s mb-0" type="email" id="main-newsletter-email" placeholder="Email Address" />
            <button class="button button-arrow block" type="submit" name="submit" >Sign up</button>
        </div>
    </form>
</div><!--/.newsletter-->
