	
	<!--DO NOT REMOVE-->
	{{ patternLabFoot | raw }}

    <!-- drupal core stuff (don't bring this over, since its already in core) -->
    <script src="../../../../js/drupal-core/jquery.min.js"></script>

    <!-- Minified and Concatenated Vendor Scripts -->
    <script src="../../../../js/plugins.min.js"></script>

    <!-- Minified cusom scripts -->
    <script src="../../../../js/app.min.js"></script>
    
	</body>
</html>